# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
frontend/dist/
backend/chats/
chats/

# Electron (старые файлы)
frontend/release/
*.exe
*.blockmap
